
.footer {
    display: flex;

    &__div{
    width: 100%;
    }
    &__input{
      background-color: $smokyblack;
      color: $white;
      display: grid;
      }
    &--rotar{
      background-color: $white;
      color: $smokyblack;

          /* Chrome y Safari */
          -webkit-transform: rotate(90deg);

          /* Firefox */
          -moz-transform: rotate(90deg);

          /* Opera */
          -o-transform: rotate(90deg);

          /* IE 9 */
          -ms-transform: rotate(90deg);

          /* IE 8 */
          filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

      }
    }
    
