
.footer {
    display: inline-flex;
    width: 100%;


    &__div{
    width: 10%;
    box-sizing: border-box;
  padding: 2%;
    }
    &__input{
      background-color: $smokyblack;
      color: $white;
      width: 80%;
      height: 100%;
      box-sizing: border-box;

      }

    }
