.thumb{


}

.thumb_card{
  background-color: $white;
  align-items: center;
  color: $raisin-black;
  font-family: $roboto;
  font-weight: $light;

}

.pagination{
  background-color: $platinum;
  align-items: center;
  font-family: $roboto;


}
.pagination_div{
  border-radius: 0px 130px 130px 0px;


}

.page-item-selected{
  background-color: $eerieblack;
}
.pagination_container{
width: 100%;
}

.page-link-change{
  color: $eerieblack;

}
